{% extends 'base.html.twig' %}
{% block title %} homepage {% endblock %}
{% block body %}


<nav>
    <div class="container">
        <a href="{{ path('app_homepage') }}">An Existencial Crysis Blog</a>
    </div>    
</nav>
<div class="container">
    {% for article in articles %}
    <a href="{{ path('article_show', { slug: article.slug}) }}">
        <div class="articolo">
            <h3>{{ article.title }}</h3>
            <span>{{ article.author }}</span>
            <img src="{{ asset(article.imagePath) }}" alt="immagine">
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}
