{% extends 'base.html.twig' %}
{% block title %}Read {{title}}{% endblock %}
{% block body %}

<nav>
    <a href="{{ path('app_homepage') }}">An Existencial Crysis Blog</a>
</nav>


<h1>{{ title }}</h1>
<span class="js-article-like-count">5</span>
<a href="{{ path('article_toggle_heart', {slug: slug})}}" class="fa fa-heart-o js-article-like"></a>

<div class="paragrafi">
    {{ articleContent|raw }}
</div>

<div class="commenti">
    <h2>Commenti ({{comments|length}})</h2>
        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article_show.js') }}" charset="utf-8"></script>
{% endblock %}
